<head>
	<meta charset="utf-8" />

	<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
	<div id="contourMap" style="display: none;"></div>
	<div id="map" style="width: 100%; height: 350px"></div>
	<button type="button" onclick="weather()">날씨검색</button>
	<form action="/test" method="post">
		<input type="text" name="id" id="id" />
		<button type="button" onclick="idtest()">비동기id호출</button>
		<button>입력</button>
	</form>

	<form action="/yeartest">
		<input type="text" name="yeartest" id="yeartest" placeholder="검색년도를 입력하세요" />

		<button type="button" onclick="yeartest1()">비동기년도호출</button>
		<button>입력</button>
	</form>

	<button type="button" onclick="mesetest()"></button>
	<hr />

	<div>
		이곳에 적혀야 하는데
		<textarea name="textarea" id="textarea" cols="100vw" rows="50vh"></textarea>
		<div th:text="${earthqlist}"></div>

		<!-- <div th:text="${earthqlist[0]}"></div> -->
		<h1>[[${earthqlist}]]</h1>
	</div>
	<div id="container"></div>

	<img src="test2" alt="">

</body>

<!-- 지도용 script -->

<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ff6d272e36cf8a9c0cc865875558ac29&libraries=services"></script>

<script>
	var mapContainer = document.getElementById("map"), // 지도를 표시할 div
		mapOption = {
			center: new kakao.maps.LatLng(37.450701, 126.570667), // 지도의 중심좌표
			level: 13, // 지도의 확대 레벨
		};

	var map = new kakao.maps.Map(mapContainer, mapOption);

	// id 비동기 테스트 영역입니다.(실험용 부분이라 구현할 필요 없습니다)
	const idtest = async () => {
		const id = document.querySelector("#id").value;
		const data = await fetch(`/gettest?id=${id}`);
		const res = await data.text();
		document.querySelector("#textarea").innerText = res;
	};

	// year로 검색하는 테스트 영역입니다.
	const yeartest1 = async () => {
		const year = document.querySelector("#yeartest").value;
		const data = await fetch(`/yearsearch?year=${year}`);
		const res = await data.text();
		const json = JSON.parse(res); //json형식으로 읽기
		document.querySelector("#textarea").innerText = json; //textarea영역에 출력(지도에 찍히는것과는 상관없습니다.)

		for (let i = 0; i < json.length; i++) {
			// i 번째 json 형태에서 필요한 데이터 가져오기
			let jlat = json[i].lat;
			let jlon = json[i].lon;

			// 마커를 생성합니다
			// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
			var markerPosition = new kakao.maps.LatLng(jlat, jlon);

			var marker = new kakao.maps.Marker({
				position: markerPosition,
			});
			//마커를 지도에 세팅
			marker.setMap(map);
		}
	};



</script>




<script>
	const weather = async () => {

		const now = new Date();
		let year = now.getFullYear();
		let month = now.getMonth() + 1;
		let date = now.getUTCDate();
		let hours = now.getHours() - 1;
		let min = now.getMinutes();
		if (min >= 45) min = '30'
		else if (min >= 15) min = '00'
		else min = '30'

		let base_date = String(year) + String(month) + String(date);
		let base_time = String(hours) + min

		const location = [
			[60, 127, '서울', 126.980008333333, 37.5635694444444],
			[98, 76, '부산', 129.076952777777, 35.1770194444444],
			[89, 90, '대구', 128.603552777777, 35.8685416666666],
			[55, 124, '인천', 126.707352777777, 37.4532333333333],
			[58, 74, '광주', 126.853363888888, 35.1569749999999],
			[67, 100, '대전', 127.386566666666, 36.3471194444444],
			[102, 84, '울산', 129.313688888888, 35.5354083333333],
			[60, 120, '경기', 127.011688888888, 37.2718444444444],
			[69, 107, '충북', 127.493586111111, 36.6325],
			[68, 100, '충남', 127.422955555555, 36.3238722222222],
			[63, 89, '전북', 127.111052777777, 35.817275],
			[51, 67, '전남', 126.465, 34.8130444444444],
			[89, 91, '경북', 128.602766666666, 35.8896055555555],
			[91, 77, '경남', 128.694166666666, 35.2347361111111],
			[52, 38, '제주', 126.500333333333, 33.4856944444444],
			[73, 134, '강원', 127.731975, 37.8826916666666]]

		for (let i = 0; i < location.length; i++) {

			let nx = location[i][0]
			let ny = location[i][1]


			const data = await fetch(`https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst?serviceKey=YyVdtivuQmwFOj1yZVtSmLQmIbuLGIBYB3xuDJajCAFnz%2F%2BdBdgrPstXhVdn1HfaoA01mXG5kcKx%2BsTMGLii0Q%3D%3D&pageNo=1&numOfRows=1000&dataType=json&base_date=${base_date}&base_time=${base_time}&nx=${nx}&ny=${ny}`);

			const weatherJson = await data.json();

			console.log(weatherJson.response.body.items.item[3].category)
			console.log(weatherJson.response.body.items.item[3].obsrValue)

		}


	}

</script>






















































<script th:inline="none">

	function GroundOverlay(bounds, imgSrc) {
		this.bounds = bounds;
		var node = this.node = document.createElement('div');
		node.className = 'node';

		var gradientDiv = this.div = document.createElement('div');
		gradientDiv.style.position = 'unset';
		gradientDiv.style.opacity = 0.6;


		//linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 2%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 95%, rgba(0, 0, 0, 0.5) 98 %, rgba(0, 0, 0, 0) 100 %) ';


		var img = this.img = document.createElement('img');
		img.style.position = 'absolute';
		img.src = imgSrc;
		img.className = 'contourMap'



		node.appendChild(gradientDiv);
		gradientDiv.appendChild(img);
	}
	// "AbstractOverlay":#AbstractOverlay 상속. 프로토타입 체인을 연결한다..
	GroundOverlay.prototype = new kakao.maps.AbstractOverlay;

	// 필수 구현 메소드.
	// AbstractOverlay의 getPanels() 메소드로 MapPanel 객체를 가져오고
	// 거기에서 오버레이 레이어를 얻어 생성자에서 만든 엘리먼트를 자식 노드로 넣어준다.
	GroundOverlay.prototype.onAdd = function () {
		var panel = this.getPanels().overlayLayer;
		panel.appendChild(this.node);
	};

	// 필수 구현 메소드.
	// 생성자에서 만든 엘리먼트를 오버레이 레이어에서 제거한다.
	GroundOverlay.prototype.onRemove = function () {
		this.node.parentNode.removeChild(this.node);
	};

	// 필수 구현 메소드.
	// 지도의 속성 값들이 변화할 때마다 호출된다. (zoom, center, mapType)
	// 엘리먼트의 위치를 재조정 해 주어야 한다.
	GroundOverlay.prototype.draw = function () {
		var projection = this.getProjection();
		var ne = projection.pointFromCoords(this.bounds.getNorthEast());
		var sw = projection.pointFromCoords(this.bounds.getSouthWest());

		var width = ne.x - sw.x;
		var height = sw.y - ne.y;

		this.img.style.top = ne.y + 'px';
		this.img.style.left = sw.x + 'px';
		this.img.style.width = width + 'px';
		this.img.style.height = height + 'px';
	}

	//초기값 좌상단 [124.20796222050159, 42.366046008446546]
	//좌상단 1/2 [124.39396537459614 ,37.64945785060459]
	//우하단 [130.14530720470964, 32.91305919195217]
	// LatLng, LatLngBounds 를 사용하는 코드로 변경해야 함.
	var sw = new kakao.maps.LatLng(42.366046008446546, 124.20796222050159); //37.450701, 126.570667
	ne = new kakao.maps.LatLng(32.91305919195217, 130.14530720470964);

	var bounds = new kakao.maps.LatLngBounds(sw, ne);

	var overlay = new GroundOverlay(bounds,
		'');
	overlay.setMap(map);







	///Contourmap 제작 함수 부분입니다. 
	eqDataPush = async () => {//window.onload =
		const year = "2023";
		const yeardata = await fetch(`/yearsearch?year=${year}`);

		const res = await yeardata.text();
		const eqJson = JSON.parse(res); // json 형식으로 읽기

		//초기값 좌상단 [124.20796222050159, 42.366046008446546]
		//좌상단 1/2 [124.39396537459614 ,37.64945785060459]
		//우하단 [130.14530720470964, 32.91305919195217]
		let coordival = [];
		let coordinates = [[124.20796222050159, 42.366046008446546], [130.14530720470964, 32.91305919195217]];
		let zValues = [null, null];//좌상단,우하단,null,null값넣어줌
		// i 번째 json 형태에서 필요한 데이터 가져오기
		for (let i = 0; i < eqJson.length; i++) {
			let eqLat = eqJson[i].lat;
			let eqLon = eqJson[i].lon;
			let eqScale = eqJson[i].eqscale; // 규모

			coordival = [eqLon, eqLat];
			coordinates.push(coordival);
			zValues.push(eqScale);

		}

		//위도와 경도를 input할 부분 임시 값 넣어져 있습니다.
		//coordinates = [[0, 0], [30, 30], [19, 27], [21, 18], [12, 23], [28, 17], [26, 14], [17, 21], [23, 28], [22, 26], [25, 12], [5, 7]];
		//zValues = [0, 0, 23, 78, 65, 97, 42, 13, 56, 89, 31, 999];

		// coordinates에서 고유한 x,y좌표 추출 , x와 y 배열 추출 및 오름차순 정렬 
		// coord => coord[1]: 각 좌표 쌍에서 y 좌표만 추출합니다.
		const Xarray = Array.from(new Set(coordinates.map(coord => coord[0]))).sort((a, b) => a - b);
		const Yarray = Array.from(new Set(coordinates.map(coord => coord[1]))).sort((a, b) => a - b);

		// z 배열을 초기화하고, y배열의 크기만큼 길이산정, x배열 길이만큼 null로 채우기,(y두번써도됨)
		const Zarray = Array.from({ length: Yarray.length }, () => Array(Xarray.length).fill(null));

		// z 배열에 값을 할당
		for (let index = 0; index < coordinates.length; index++) {
			const [xCoord, yCoord] = coordinates[index];
			const zValue = zValues[index];
			const i = Yarray.indexOf(yCoord);
			const j = Xarray.indexOf(xCoord);
			Zarray[i][j] = zValue;
		}
		console.log(Zarray)

		var trace1 = {
			z: Zarray,
			x: Xarray,
			y: Yarray,

			connectgaps: true,
			zsmooth: 'best',
			type: 'heatmap', //histogram2dcontour, contour, heatmap

			showscale: false,
			autocolorscale: 'hot',
			// reversescale: true, zmax: 2.5, zmin: -2.5

			//colorscale: [[0, "rgb(  0,  0,  0)"], [0.3, "rgb(90,  0,  0)"], [0.6, "rgb//(180,0,  0)"], [1, "rgb(255,0,0)"]],

			//name: 'density',
			//ncontours: 20,
			//colorscale: 'Hot',
			//reversescale: true,
			//showscale: false,
			//type: 'histogram2dcontour'

		};

		var data = [trace1];

		var layout = {
			autosize: false,

			width: 500,
			height: 1000,
			margin: {
				l: 0,
				r: 0,
				b: 0,
				t: 0,
				pad: 0
			},

			//title: 'Simple Contour Plot'
		};

		Plotly.newPlot('contourMap', data, layout);

		Plotly.toImage('contourMap', {
			format: 'png',
			width: 500,
			height: 1000
		}).then(function (dataUrl) {
			var img = new Image();
			img.src = dataUrl;

			var overlay = new GroundOverlay(bounds,
				dataUrl);
			overlay.setMap(map);
			//console.log(dataUrl)
			console.log('출력되었습니다')
			//document.querySelector('.contourMap').src = img;
		});
	}

</script>

































































































<!-- 현재 미세정보 출력해주는 테스트 항목입니다. -->

<script>
	const mesetest = async () => {
		//const year = document.querySelector("#yeartest").value;//현재 미세정보 가져와서 필요 x
		const data = await fetch(`https://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getCtprvnRltmMesureDnsty?serviceKey=YyVdtivuQmwFOj1yZVtSmLQmIbuLGIBYB3xuDJajCAFnz%2F%2BdBdgrPstXhVdn1HfaoA01mXG5kcKx%2BsTMGLii0Q%3D%3D&returnType=json&numOfRows=648&pageNo=1&sidoName=전국&ver=1.4`); //설정 옵션이 있으나 전부 가져오는 옵션으로 씀
		const res = await data.text();
		const json = JSON.parse(res); //json형식으로 읽기
		document.querySelector("#textarea").innerText = json; //textarea영역에 출력(지도에 찍히는것과는 상관없습니다.)
		console.log(json)

		for (let i = 0; i < json.response.body.items.length; i++) {
			// i 번째 json 형태에서 필요한 데이터 가져오기

			//전국, 서울, 부산, 대구, 인천, 광주, 대전, 울산, 경기, 강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주, 세종
			let sidoName = json.response.body.items[i].sidoName;//시도이름
			let stationName = json.response.body.items[i].stationName;//장소이름
			console.log(stationName)
			let no2Grade = json.response.body.items[i].no2Grade; //질소 등급
			let pm10Grade = json.response.body.items[i].pm10Grade; //pm10 등급
			let pm25Grade = json.response.body.items[i].pm25Grade; //pm25 등급
			let o3Grade = json.response.body.items[i].o3Grade; //오존 등급
			console.log(i)//647개 출력됩니다.

			document.querySelector("#textarea").innerText = stationName;
		}
	}

</script>