<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>

<body>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $.ajax({
        url: "http://apis.data.go.kr/B090026/AirqualityService/getIvstg",
        type: "GET",
        data: {
            serviceKey: decodeURIComponent("hJTB216fgxJvb4xBUrezsnj5a3t9SK2agGIh3ylsYKRWnw4old3h5dlO7C0SGwym6r6kloZtx4TodqBnzrLu8w%3D%3D"),
            mgtNo: "ND2019B002",
            type: "json"
        },
        success: function (data) {
            console.log(data); // 응답 데이터 전체를 출력
        },
        error: function (request, status, error) {
            console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
        }
    });




</script>
</body>
</html>
