/* 드래그 방지 */
body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-use-select: none;
	user-select: none;
	background-color: #f6f9fc;
}
a {
	text-decoration: none;
	color: black;
}
button {
	background-color: rgba(255, 255, 255, 0);
	border: 0;
	cursor: pointer;
}

.hidden {
	display: none;
}

/* 전체 영역 */
.mainArea {
	display: flex;
	flex-direction: column;
	margin: 10px 0;
}

.headerArea {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 5px;
	align-items: center;
}

.mainLogo {
	margin: 20px;
}
.mainLogoImg {
	width: 120px;
	height: 60px;
	border-radius: 15px;
}
