/* 나눔 고딕체 */
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
	font-family: "Nanum Gothic", sans-serif;
}
/* 안성탕면체 Bold */
@font-face {
	font-family: "Ansungtangmyun-Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}
/* 배민 도현체 */
@font-face {
	font-family: "BMDOHYEON";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
/* 배민 주아체 */
@font-face {
	font-family: "BMJUA";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	/* 드래그 방지 */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-use-select: none;
	user-select: none;
	background-color: #f6f9fc;
	width: 100vw;
}
a {
	text-decoration: none;
	color: black;
}
button {
	background-color: rgba(255, 255, 255, 0);
	border: 0;
	cursor: pointer;
}

.hidden {
	display: none;
}

.hiddenAni {
	display: none;
	animation-name: hiddenAnimation;
	animation-duration: 1s;
}
@keyframes hiddenAnimation {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* 전체 영역 */
.mainArea {
	display: flex;
	flex-direction: column;
	width: 100vw;
}

/* 헤더 영역 */
.headerArea {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 5px 0 4px;
	align-items: center;
	position: absolute;
	z-index: 3;
}

/* 메인 로고 영역 */
.mainLogo {
	display: flex;
	flex-direction: row;
	margin: 20px;
	align-items: center;
}
.mainLogoImg {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-right: 8px;
}
.mainLogoLtr {
	font-family: "Ansungtangmyun-Bold";
	font-size: 30px;
	font-weight: bold;
}
