/* 드래그 방지 */
body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-use-select: none;
	user-select: none;
	background-color: #f6f9fc;
}
a {
	text-decoration: none;
	color: black;
}
button {
	background-color: rgba(255, 255, 255, 0);
	border: 0;
	cursor: pointer;
}

@font-face {
	font-family: "Ansungtangmyun-Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}

.hidden {
	display: none;
}

/* 전체 영역 */
.mainArea {
	display: flex;
	flex-direction: column;
}

.headerArea {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 5px;
	align-items: center;
	position: absolute;
	z-index: 2;
}

.mainLogo {
	display: flex;
	flex-direction: row;
	margin: 20px;
	align-items: center;
}
.mainLogoImg {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-right: 8px;
}
.mainLogoLtr {
	font-family: "Ansungtangmyun-Bold";
	font-size: 30px;
	font-weight: bold;
}
