/* 로그인 버튼 */
.signInClick {
	font-size: 1.1rem;
	border: 0;
	border-radius: 50px;
	margin: 0 0 10px 0;
	padding: 15px;
	transition-duration: 0.3s;
}
.signInClick:hover {
	background-color: rgba(211, 211, 211, 0.657);
}

.leftArea {
	display: flex;
	flex-direction: column;
	margin-left: 5px;
}

.menuBarArea {
	background-color: rgba(103, 150, 188, 0.475);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px 5px 0 0;
	padding: 65px 50px 10px 2%;
	position: absolute;
	z-index: 2;
}
.menuBarBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	background-color: rgba(255, 255, 255, 0);
	border: 0;
	border-radius: 50px;
	margin: 0 0 5px 0;
	padding: 10px 10px;
	cursor: pointer;
	text-align: center;
	transition-duration: 0.3s;
}
.menuBarBtn:hover {
	background-color: #f6f6f660;
}
.menuBarBtn button {
	font-size: 18px;
}

.menu {
	font-weight: bold;
}

.radioBtnImg {
	width: 20px;
	height: 20px;
}

.centerArea {
	display: flex;
	flex-direction: row;
}

.mapArea {
	position: relative;
	z-index: 1;
}

.map {
	border-radius: 5px;
	width: 100vw;
	height: 100vw;
}

.rightArea {
	display: flex;
	flex-direction: row;
	margin-right: 15px;
}
