/* 로그인 버튼 */
.signInClick {
	font-size: 1.1rem;
	border: 0;
	border-radius: 50px;
	margin: 0 0 10px 0;
	padding: 15px;
	transition-duration: 0.3s;
}
.signInClick:hover {
	background-color: rgba(211, 211, 211, 0.657);
}

/* 메뉴 바 영역 */
.menuBarArea {
	width: 200px;
	height: 100%;
	background-color: rgb(180, 205, 226);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 10px 5px 10px 10px;
	padding: 65px 0 10px 6px;
	box-shadow: 0 8px 8px 0 rgb(216, 216, 216);
	position: absolute;
	z-index: 3;
}
.menuBarBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	background-color: rgba(255, 255, 255, 0);
	border: 0;
	border-radius: 50px;
	margin: 0 0 5px 0px;
	padding: 10px 90px 10px 4px;
	cursor: pointer;
	text-align: center;
	transition-duration: 0.3s;
}
.menuBarBtn:hover {
	background-color: #f6f6f67e;
}
.menuBarBtn button {
	font-size: 18px;
}

.menu {
	margin: 2px 0 0 3px;
	font-weight: bold;
}

.radioBtnImg {
	width: 30px;
	height: 30px;
}

.mapArea {
	position: relative;
	/* z-index: 1; */
	width: 100%;
}

.map {
	width: 100vw;
	height: 100vw;
	box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.279);
	position: absolute;
	z-index: 2;
}
