<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Kakao 지도 시작하기</title>
</head>
<body>
<div id="map" style="width:500px;height:400px;"></div>




</body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ff6d272e36cf8a9c0cc865875558ac29"></script>

<script>
    const container = document.getElementById('map');
    const options = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 3
    };
    const map = new kakao.maps.Map(container, options);
    const positions = [
        {latlng : new kakao.maps.LatLng(33.450701, 126.570667)},
    ];
    const clustererOptions = {
        averageCenter: true,
        gridSize: 50,
        minLevel : 5,
    };

    new kakao.maps.MarkerClusterer(clustererOptions).addMarkers(positions.map(function(position) {
        return new kakao.maps.Marker({position : position.latlng});
    }), map);



</script>

</html>