<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>방사능 지도</title>
		<link rel="stylesheet" href="../CSS/settings.css" />
		<link rel="stylesheet" href="../CSS/common.css" />
		<link rel="stylesheet" href="../CSS/index.css" />
	</head>

	<body>
		<!-- 전체 영역 -->
		<div class="mainArea">
			<!-- header 영역 -->
			<div class="headerArea">
				<div class="logoArea">
					<head th:replace="common/header" />
				</div>
				<!-- 로그인 버튼 -->
				<div class="signInClick">
					<a href="/signin">로그인</a>
				</div>
			</div>

			<!-- body 영역 -->
			<div class="bodyArea">
				<!-- 왼쪽 영역 -->
				<div class="leftArea">
					<!-- 메뉴 바 -->
					<div class="menuBarArea">
						<div class="menuBarBtn">
							<img
								src="../img/radioBtn.png"
								alt="noRadioBtnImg"
								class="radioBtnImg"
							/>
							<button class="">방사능</button>
						</div>
						<div class="menuBarBtn">
							<button class="">날씨</button>
						</div>
					</div>
				</div>

				<!-- 가운데 영역(지도) -->
				<div class="centerArea">
					<section class="mapArea">
						<div id="map" style="width: 500px; height: 400px"></div>
						<!-- <img src="../img/cat5.jpg" alt="noMainArea" class="map" /> -->
					</section>
				</div>
			</div>
		</div>
	</body>

	<!-- script -->
	<script
		type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=LIBRARY"
	></script>
	<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script
		type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ff6d272e36cf8a9c0cc865875558ac29"
	></script>

	<script>
		const container = document.getElementById("map");
		const options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3,
		};
		const map = new kakao.maps.Map(container, options);
		const positions = [
			{ latlng: new kakao.maps.LatLng(33.450701, 126.570667) },
		];
		const clustererOptions = {
			averageCenter: true,
			gridSize: 50,
			minLevel: 5,
		};

		new kakao.maps.MarkerClusterer(clustererOptions).addMarkers(
			positions.map(function (position) {
				return new kakao.maps.Marker({ position: position.latlng });
			}),
			map
		);
	</script>
</html>
